<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit employee</title>
</head>

<body>
  <form action="/updatecontact/{{data.cid}}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <input type="hidden" name="cid" value="{{data.cid}}" />
    <input type="text" name="first_name" value="{{data.first_name}}" />
    <input type="text" name="middle_name" value="{{data.middle_name}}" />
    <input type="text" name="last_name" value="{{data.last_name}}" />
    <input type="text" name="phone" value="{{data.phone}}" />
    <input type="email" name="email" value="{{data.email}}" />

  </form>
  <a href="/viewcontact">View employee</a>
  <a href="/home">Home</a>
</body>

</html>